https://raw.githubusercontent.com/micropython/micropython/master/drivers/display/ssd1306.py
https://raw.githubusercontent.com/peterhinch/micropython-font-to-py/master/writer/writer.py
https://raw.githubusercontent.com/peterhinch/micropython-font-to-py/master/writer/font6.py
https://raw.githubusercontent.com/kevinkk525/pysmartnode/dev/pysmartnode/utils/abutton.py
