# system.d service template.
[Unit]
Description=Mopidy Control Service

[Service]
User=pi
Group=pi
# ExecStart=<project_path>/main.py
Environment=MQTT_HOST=127.0.0.1
Environment=MQTT_TOPIC=mopidy
Environment=DEBUG=1
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target

